* {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

body {
    background-color: #f4f4f4;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.color-box {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

p {
    font-size: 15px;
}

.red {
    background-color: red;
    border: 1px solid black;
    color: white;
}

.blue {
    background-color: blue;
    border: 1px solid black;
    color: white;
}

.green {
    background-color: green;
    border: 1px solid black;
    color: white;
}

.yellow {
    background-color: yellow;
    border: 1px solid black;
    color: black;
}

.purple {
    background-color: purple;
    border: 1px solid black;
    color: white;
}

.orange {
    background-color: orange;
    border: 1px solid black;
    color: white;
}

#selected-color {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}